@{
    ViewData["Title"] = "Home Page";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<Member>
<!-- Main content -->
<div class="content" style="padding: 15px 0.5rem;">
    <!-- /.content -->
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">관리자목록</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>번호</th>
                                    <th>아이디</th>
                                    <th>성명</th>
                                    <th>이메일</th>
                                    <th>연락처</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                @{
                                    int startNumber = (Model.PageNumber - 1) * Model.PageSize;
                                    int Num = ViewBag.CurrentCount - startNumber;
                                }
                                @foreach (var member in Model)
                                {
                                    <tr>
                                        <td>@(Num--)</td>
                                        <td>@member.MemberId</td>
                                        <td>@member.Name</td>
                                        <td>@member.Email</td>
                                        <td>@member.Contact</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div>
                    <a href="./AdminRegist" class="btn btn-primary float-right">관리자 등록</a>
                </div>
                <!-- /.card -->
                @Html.PagedListPager(Model, pageNumber => Url.Action("adminlist", "Admin",
                        new
                        {
                        pageNumber
                    }),
                    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })

            </div>
        </div>
    </div>
</div>