@model K2GGTT.ViewModels.MyInfoViewModel
<script type="text/javascript">
	// 엔터로인한 submit 방지
	$(document).keypress(function (e) { if (e.keyCode == 13) e.preventDefault(); });
		$("#Save").click(function () {
			var CurrentPassword = $("input[name='CurrentPassword']").val();
			if (!CurrentPassword) {
                alert("Please enter your password to edit your information.");
				$("input[name='CurrentPassword']").focus();
				return false;
			}
			var reg = /^(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}$/;
			var input_password = $("#input_password").val();
			var input_password_re = $("#input_password_re").val();
			if (input_password != "" || input_password_re != "") {
				if (!input_password) {
					alert("Please enter the password.");
					$("#input_password").focus();
					return false;
				}
				if (!input_password_re) {
                    alert("Please enter the password again.");
					$("#input_password_re").focus();
					return false;
				}
				if (!reg.test(input_password)) {
                    alert("Please enter a password of 8 to 20 characters using a combination of letters + numbers + special characters.");
					return false;
				}
				if (input_password != input_password_re) {
                    alert("The password and the re-entered password do not match.");
					return false;
				}
			}
			var name = $("input[name='Name']").val();
			if (!name) {
                alert("Please enter the customer name (company name).");
				$("input[name='Name']").focus();
				return false;
			}
			var contact = $("input[name='Contact']").val();
			if (!contact) {
                alert("Please enter the contact number.");
				$("input[name='Contact']").focus();
				return false;
			}

			if ($("#gubun2").is(':checked')){
				var CompanyRegistrationNumber = $("input[name='CompanyRegistrationNumber']").val();
				if (!CompanyRegistrationNumber) {
                    alert("Please enter the business registration number.");
					$("input[name='CompanyRegistrationNumber']").focus();
					return false;
				}
				var Representative = $("input[name='Representative']").val();
				if (!Representative) {
                    alert("Please enter the representative's name.");
					$("input[name='Representative']").focus();
					return false;
				}
				var TaxInvoiceOfficer = $("input[name='TaxInvoiceOfficer']").val();
				if (!TaxInvoiceOfficer) {
                    alert("Please enter the name of person in charge of tax invoice.");
					$("input[name='TaxInvoiceOfficer']").focus();
					return false;
				}
			}
			if (confirm("would you like to add information?")) {
				var form = document.regiform;
				form.submit();
			}
			return false;
		});
		$("#gubun1").click(function () {
			$("input[name='CompanyRegistrationNumber']").val("");
			$("input[name='Representative']").val("");
			$("input[name='TaxInvoiceOfficer']").val("");
			$("#enterprise_input_area").css("display", "none");
		});
		$("#gubun2").click(function () {
			$("#enterprise_input_area").css("display", "");
		});
	});
</script>
<div class="flex center w100 h100 rela" style="overflow: hidden;">
	<form name="regiform" id="regiform" method="post" action="/En/MyPageProc">
		<input type="hidden" asp-for="@(Model.Id)">
		<div class="flex pad10">
			<input id="memberid" class="style required" placeholder="ID" asp-for="@(Model.MemberId)" autocomplete="off" readonly style="background-color: lightgray;">
		</div>
		<div class="flex pad10">
			<input type="password" class="style required" placeholder="Current Passwrod" asp-for="@(Model.CurrentPassword)">
		</div>
		<div class="flex pad10">
			<input id="input_password" type="password" asp-for="@(Model.Password)" class="style required" placeholder="Enter the password (8 to 20 characters and a combination of letters + numbers + special characters)" maxlength="20" autocomplete="off"><br>
		</div>
		<div class="flex pad10">
			<input id="input_password_re" type="password" class="style required" placeholder="Enter the password again." maxlength="20" autocomplete="off">
		</div>
		<div class="flex pad10 vcenter">
			<input type="radio" asp-for="@(Model.Gubun)" id="gubun1" value="1" checked="checked"><label for="gubun1">Individual</label>
			<input type="radio" asp-for="@(Model.Gubun)" id="gubun2" value="2"><label for="gubun2">Company</label>
		</div>
		<div class="flex pad10">
			<input id="input_name" class="style required" asp-for="@(Model.Name)" placeholder="Individual(Company)" autocomplete="off">
		</div>
		@if (Model.Gubun == 2)
		{
			<div id="enterprise_input_area">
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.CompanyRegistrationNumber)" placeholder="Business Registration Number" autocomplete="off">
				</div>
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.Representative)" placeholder="Representative's name" autocomplete="off">
				</div>
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.TaxInvoiceOfficer)" placeholder="Name of person in charge of tax invoice" autocomplete="off">
				</div>
			</div>
		}
		else
		{
			<div id="enterprise_input_area" style="display: none;">
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.CompanyRegistrationNumber)" placeholder="Business Registration Number" autocomplete="off">
				</div>
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.Representative)" placeholder="Representative's name" autocomplete="off">
				</div>
				<div class="flex pad10">
					<input id="input_name" class="style required" asp-for="@(Model.TaxInvoiceOfficer)" placeholder="Name of person in charge of tax invoice" autocomplete="off">
				</div>
			</div>
		}
		<div class="flex pad10">
			<input id="input_title" class="style" asp-for="@(Model.Jobtitle)" placeholder="Job title" autocomplete="off">
		</div>

		<div class="flex pad10">
			<input id="input_web" class="style" asp-for="@(Model.Website)" placeholder="Website" autocomplete="off">
		</div>
		<div class="flex pad10">
			<input id="country_selector" type="text" class="style" asp-for="@(Model.Country)">
		</div>
		<div class="flex pad10">
			<input id="input_contact" class="style required" asp-for="@(Model.Contact)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Contact Number(Only Number)" autocomplete="off">
		</div>
		<div class="flex pad10">
			<input id="input_email" class="style required" asp-for="@(Model.Email)" placeholder="Email" autocomplete="off" readonly style="background-color: lightgray;">
		</div>
		<div class="tc pad30">
			<button class="style" id="Save">Modify</button>
		</div>
	</form>
</div>