<script src="/js/data.js" language="javascript"></script>
<script>

    const legends = {
        patent: ['A90', 'A80', 'A70', 'A60', 'A50', 'A40', 'A30', 'A20', 'A10', 'A00'],
        article: ['B90', 'B80', 'B70', 'B60', 'B50', 'B40', 'B30', 'B20', 'B10', 'B00'],
    };
	const color = {
		patent: '#CD1F48',
		article: '#0064FF'
	}

    function totalAjax() {
        console.log(new Date());
        $.when(
            $.ajax({ // 특허 API
            //url: 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord=' + '@ViewBag.PatentKeyword',
            url: 'https://k2gdoc2vecthesis.azurewebsites.net/patentData?searchWord=' + '@ViewBag.PatentKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                console.log("patent 비포");
				$('#loading>div').append('<p>Analyzing Patent Data...</p>');
            },
            success: function (result) {
                console.log('Patent Success');
				$('#loading>div').append('<p>Patent data Analysis Completed.</p>');
                data["patent"] = result;
                pushSeries("patent");
            },
            error: function () {
				$('#loading>div').append('<p style="color:#C00;">Failed to searching Patent data.</p>');
            },
            complete: function () {
                console.log('Patent End');
                //searchArticles();
            }
        }),
            $.ajax({ // 논문 API
            url: 'https://k2gdoc2vec.azurewebsites.net/thesisData?searchWord=' + '@ViewBag.ArticleKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                console.log("Article 비포");
				$('#loading>div').append('<p>Analyzing Article Data...</p>')
            },
            success: function (result) {
                console.log('Article Success');
				$('#loading>div').append('<p>Article data Analysis Completed.</p>')
                data["article"] = result;
                pushSeries("article");
            },
            error: function () {
				$('#loading>div').append('<p style="color:#C00;">Failed to searching Article data.</p>');
            },
            complete: function () {
                console.log('Article Ended');
                //initiateChart();
            }
        })
        ).done(function () {
            console.log(new Date());
            initiateChart();
        })
    }

    function searchPatent() {
        $.ajax({ // 특허 API
            url: 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord=' + '@ViewBag.PatentKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                $('#loading>div').append('<p>Analyzing Patent Data...</p>');
            },
            success: function (result) {
                console.log('Patent Success');
                $('#loading>div').append('<p>Patent data Analysis Completed.</p>');
                data["patent"] = result;
                pushSeries("patent");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">Failed to searching Patent data.</p>');
            },
            complete: function () {
                console.log('Patent End');
                searchArticles();
            }
        });


    }

    function searchArticles() {
        $.ajax({ // 논문 API
            url: 'https://k2gdoc2vec.azurewebsites.net/thesisData?searchWord=' + '@ViewBag.ArticleKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                $('#loading>div').append('<p>Analyzing Article Data...</p>')
            },
            success: function (result) {
                console.log('Article Success');
                $('#loading>div').append('<p>Article data Analysis Completed.</p>')
                data["article"] = result;
                pushSeries("article");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">Failed to searching Article data.</p>');
            },
            complete: function () {
                console.log('Article Ended');
                initiateChart();
            }
        });
    }

    function initiateChart() {
        showChart();
        myChart.setOption(option);
        legendAll();
    }
</script>

<style>
		
	.ball {
		position: absolute;
		border-radius: 100%;
		opacity: 0.7;
	}

	body {overflow: hidden;}
	#loading {top:0;}

</style>
<div id="loading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000;">
	<div class="tc">
		<h4 class="mb10">Searching... It takes 2-3 minutes depending on keywords.</h4>
	</div>
</div>
<div id="pdfloading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000; display: none;">
	<div class="tc">
		<img src="/img/loading.gif" alt="loading" style="width:200px;">
		<h4 class="mb10 wh">A PDF file is being created... <wbr>It takes 2-3 minutes depending on keywords.</h4>
	</div>
</div>
<div class="rela">
	<h3 class="tc">Select a Legend</h3>
	<div class="pad20">
		<div class="flex center">			
			<select id="legend_all" class="style legendSelect" style="margin:5px;" onChange="selectLegend('all')">
				<option value="E00">All</option>
				<option value="E90">90%</option>
				<option value="E80">80%</option>
				<option value="E70">70%</option>
				<option value="E60">60%</option>
				<option value="E50">50%</option>
				<option value="E40">40%</option>
				<option value="E30">30%</option>
				<option value="E20">20%</option>
				<option value="E10">10%</option>
			</select>
			<select id="legend_patent" class="style legendSelect" style="margin:5px;" onChange="selectLegend('patent')">
				<option value="">Patents</option>
			</select>
			<select id="legend_article" class="style legendSelect" style="margin:5px;" onChange="selectLegend('article')">
				<option value="">Articles</option>
			</select>
		</div>
	</div>
	<div id="graph_wrap" class="flex center pad10">
		<div id="graph">
		</div>
	</div>
</div>
<div id="table_wrap" class="pad20 w1200">
    <div class="flex between">
        <h3 id="table_title" class="pad20"></h3>
        <div id="btn_wrap"></div>
    </div>
    <table class="w100 tc">
    </table>
    <div class="flex center">
        <div id="pagination" class="pagination flex between pad20">
        </div>
    </div>
</div>
<div id="load_all" class="pad20 w1400">
	<div class="flex between" id="patent_all_title" style="display: none;">
		<h3 class="pad20">Patent</h3>
	</div>
	<table id="patent_all" class="w100 tc">
	</table>
	<div class="mb50"></div>
	<div class="flex between" id="article_all_title" style="display: none;">
		<h3 class="pad20">Article</h3>
	</div>
	<table id="article_all" class="w100 tc">
	</table>
</div>
<script src="/js/functions.js" language="javascript"></script>
<script src="/js/functions_scatter.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/resize.js" language="javascript"></script>
<script src="/js/animation.js" language="javascript"></script>

<script>
	totalAjax();
    //searchPatent();
</script>