@model K2GGTT.ViewModels.MyInfoViewModel
<script src="/js/countrySelect.js" language="javascript"></script>
<link href="/css/countrySelect.css" rel="stylesheet">
<style>	div {overflow: visible;}</style>
<script type="text/javascript">
	// 엔터로인한 submit 방지
	$(document).keypress(function (e) { if (e.keyCode == 13) e.preventDefault(); });
	function memberid_check() {
		var memberid = $("input[name='MemberId']").val();
		if (!memberid) {
			alert("Please enter your ID.");
			$("input[name='MemberId']").focus();
			return false;
		}
		$.ajax({
			url: "/Kr/MemberIdCheck",
			type: "POST",
			async: false,
			data: { memberid: memberid },
			success: function (data) {
				var res = JSON.parse(data);
				if (res == "N") {
					$("#memberid").prop("readonly", true);
					$("#memberid").css("background-color", "lightgray");
					$("#id_check_btn").css("display", "none");
					$("#id_recheck_btn").css("display", "");
					$("input[name='id_check_yn']").val("Y");
				} else {
					alert("This ID is already registered. please register again.");
					return false;
				}
			}
		});
	}
	function memberid_recheck() {
		$("#memberid").val("");
		$("#memberid").prop("readonly", false);
		$("#memberid").css("background-color", "white");
		$("#id_check_btn").css("display", "");
		$("#id_recheck_btn").css("display", "none");
		$("input[name='id_check_yn']").val("N");
	}
	$(document).ready(function () {
		$("#Save").click(function () {
			var memberid = $("input[name='MemberId']").val();
			if (!memberid) {
                alert("Please enter your ID.");
				$("input[name='MemberId']").focus();
				return false;
			}
			var id_check_yn = $("input[name='id_check_yn']").val();
			if (id_check_yn == "N") {
                alert("	Please check availability of an ID.");
				return false;
			}
			var reg = /^(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}$/;
			var input_password = $("#input_password").val();
			var input_password_re = $("#input_password_re").val();
			if (!input_password) {
				alert("please enter your password.");
				$("#input_password").focus();
				return false;
			}
			if (!input_password_re) {
                alert("Please enter the password again.");
				$("#input_password_re").focus();
				return false;
			}
			if (!reg.test(input_password)) {
                alert("Please enter a password of 8 to 20 characters using a combination of letters + numbers + special characters.");
				return false;
			}
			if (input_password != input_password_re) {
                alert("The password and the re-entered password do not match.");
				return false;
			}
			var name = $("input[name='Name']").val();
			if (!name) {
                alert("Please enter the customer name (company name).");
				$("input[name='Name']").focus();
				return false;
			}
			var contact = $("input[name='Contact']").val();
			if (!contact) {
                alert("Please enter the contact number.");
				$("input[name='Contact']").focus();
				return false;
			}

			if ($("#gubun2").is(':checked')){
				var CompanyRegistrationNumber = $("input[name='CompanyRegistrationNumber']").val();
				if (!CompanyRegistrationNumber) {
                    alert("Please enter the business registration number.");
					$("input[name='CompanyRegistrationNumber']").focus();
					return false;
				}
				var Representative = $("input[name='Representative']").val();
				if (!Representative) {
                    alert("Please enter the representative's name.");
					$("input[name='Representative']").focus();
					return false;
				}
				var TaxInvoiceOfficer = $("input[name='TaxInvoiceOfficer']").val();
				if (!TaxInvoiceOfficer) {
                    alert("Please enter the name of person in charge of tax invoice.");
					$("input[name='TaxInvoiceOfficer']").focus();
					return false;
				}
			}
			var email_check_yn = $("input[name='email_check_yn']").val();
			if (email_check_yn == "N") {
                alert("Please verify your email address.");
				return false;
			}
            if (confirm("Would you like to sign up?")) {
				var form = document.regiform;
				form.submit();
			}
			return false;
		});
		var code = "";
		$("#email_certification").click(function () {
			var email_check_yn = $("input[name='email_check_yn']").val();
			if (email_check_yn == "Y") {
                alert("Verification has already been completed.");
				return false;
			}
			var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
			var email = $("input[name='Email']").val();
			if (email.match(regExp) != null) {
				$.ajax({
					url: "/En/EmailCertification",
					type: "POST",
					async: false,
					data: { email: email },
					success: function (data) {
						code = JSON.parse(data);
                        alert("The e-mail has been sent successfully.\nPlease enter the verification code.");
						$("#email_certification_check_area").css("display", "");
						$("input[name='email_certification_code']").focus();
					}
				});
			}
			else {
                alert('Email format is incorrect. Please re-enter.');
				$("input[name='Email']").focus();
			}
		});
		$("#email_certification_check").click(function () {
			var email_certification_code = $("input[name='email_certification_code']").val();
			if (!email_certification_code) {
                alert("Please enter the verification code.");
				$("input[name='email_certification_code']").focus();
				return false;
			}
			if (email_certification_code != code) {
                alert("The email verification code is incorrect. Please re-enter.");
				return false;
			}
            alert("Verification has been completed!");
			$("input[name='email_check_yn']").val("Y");
			$("#email_certification_code").prop("readonly", true);
			$("#email_certification_code").css("background-color", "lightgray");
		});
		$("#gubun1").click(function () {
			$("input[name='CompanyRegistrationNumber']").val("");
			$("input[name='Representative']").val("");
			$("input[name='TaxInvoiceOfficer']").val("");
			$("#enterprise_input_area").css("display", "none");
		});
		$("#gubun2").click(function () {
			$("#enterprise_input_area").css("display", "");
		});
	});
</script>
<div class="flex center w100 h100 rela" style="overflow: hidden;">
    <form name="regiform" id="regiform" method="post" action="/En/SignUpProc">
        <input type="hidden" name="id_check_yn" value="N">
        <input type="hidden" name="email_check_yn" value="N">
        <div class="pad10">
			<label class="small" for="memberid">ID</label><br>
            <input id="memberid" class="style required" placeholder="ID" asp-for="@(Model.MemberId)" autocomplete="off">
            <input type="button" id="id_check_btn" value="ID Check" onclick="memberid_check();">
            <input type="button" id="id_recheck_btn" value="ID Re-Check" style="display: none;" onclick="memberid_recheck();">
        </div>
        <div class="pad10">
			<label class="small" for="input_password">Password</label><br>
            <input id="input_password" type="password" asp-for="@(Model.Password)" class="style required" placeholder="Enter the password (8 to 20 characters and a combination of letters + numbers + special characters)" maxlength="20" autocomplete="off"><br>
			<label class="small" for="input_password_re">Password Confirmation</label><br>
            <input id="input_password_re" type="password" class="style required" placeholder="Enter the password again." maxlength="20" autocomplete="off">
        </div>
        <div class="flex pad10 vcenter">
            <input type="radio" asp-for="@(Model.Gubun)" id="gubun1" value="1" checked="checked"><label for="gubun1">Individual</label>
            <input type="radio" asp-for="@(Model.Gubun)" id="gubun2" value="2"><label for="gubun2">Company</label>
        </div>
        <div class="pad10">
			<label class="small" for="input_name">Name</label><br>
            <input id="input_name" class="style required" asp-for="@(Model.Name)" placeholder="Individual(Company)" autocomplete="off">
        </div>
		<div class="pad10">
			<label class="small" for="input_title">Job Title</label><br>
            <input id="input_title" class="style" asp-for="@(Model.Jobtitle)" placeholder="Job title" autocomplete="off">
        </div>

		<div class="pad10">
			<label class="small" for="input_web">Website</label><br>
            <input id="input_web" class="style" asp-for="@(Model.Website)" placeholder="Website" autocomplete="off">
        </div>
		<div class="pad10">
			<label class="small" for="country_selector">Country</label><br>
			<input id="country_selector" type="text" class="style" asp-for="@(Model.Country)">
		</div>		
        <div id="enterprise_input_area" style="display: none;">
            <div class="pad10">
				<label class="small" for="input_bizno">Business Registration Number</label><br>
                <input id="input_bizno" class="style required" asp-for="@(Model.CompanyRegistrationNumber)" placeholder="Business Registration Number" autocomplete="off">
            </div>
            <div class="pad10">
				<label class="small" for="input_ceo">Representative</label><br>
                <input id="input_ceo" class="style required" asp-for="@(Model.Representative)" placeholder="Representative's name" autocomplete="off">
            </div>
            <div class="pad10">
				<label class="small" for="input_tax">PIC of Tax &amp; Invoice</label><br>
                <input id="input_tax" class="style required" asp-for="@(Model.TaxInvoiceOfficer)" placeholder="Name of person in charge of tax invoice" autocomplete="off">
            </div>
        </div>
        <div class="pad10">
			<label class="small" for="input_contact">Phone (Only by numbers)</label><br>
            <input id="input_contact" class="style required" asp-for="@(Model.Contact)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Phonenumber(Only by numbers)" autocomplete="off">
        </div>
        <div class="pad10">
			<label class="small" for="input_email">E-mail</label><br>
            <input id="input_email" class="style required" asp-for="@(Model.Email)" placeholder="Email" autocomplete="off">
            <input type="button" class="style" id="email_certification" value="Verify Email" />
        </div>
        <div class="flex pad10" id="email_certification_check_area" style="display: none;">
            <input id="email_certification_code" class="style required" name="email_certification_code" placeholder="Email Certification Code" autocomplete="off">
            <input type="button" class="style" id="email_certification_check" value="Email Certification" />
        </div>
        <div class="tc pad30">
            <button class="style" id="Save">Complete</button>
        </div>
    </form>
	<script>
			$("#country_selector").countrySelect();
	</script>
</div>